* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
.header-component {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #1e40af, #60a5fa);
}
.logo-flex img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.contact-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
}
.contact-flex h2 {
  text-align: center;
  cursor: pointer;
}
.nav-flex button {
  margin-left: 30px;
  background: none;
  border: none;
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}
.nav-flex button:hover {
  transform: scale(1.05);
  color: rgb(180, 9, 9);
}
.lang {
  width: 70px;
  height: 35px;
  background: none;
  border: 1px solid white;
  color: white;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.language-flex{
    display: flex;
}
.icon {
  width: 36px;
  height: 35px;
  background: none;
  border: 1px solid white;
  color: white;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 4px;
}
.call {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #c81d11, #e53935);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.call .call-icon {
  background-color: rgba(138, 3, 3, 0.15);
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
}

.call:hover {
  background: linear-gradient(135deg, #b71c1c, #d32f2f);
  transform: translateY(-1px);
}
@media (max-width: 768px) {
    .nav-flex{
        display: none;
    }
    .call-flex{
        display: none;
    }
    .contact-flex{
        display: none;
    }
    .header-component{
        display: flex;
        justify-content: space-between;
    }
}